# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#   Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
src/TorahBibleCodes-master/D.py
src/TorahBibleCodes-master/mod_1GetUserInput1.py
src/TorahBibleCodes-master/mod_2TextFileOpen.py
src/TorahBibleCodes-master/mod_3ATextFilePreprocess.py
src/TorahBibleCodes-master/mod_3BTextFileParse.py
src/TorahBibleCodes-master/mod_4ConvertJSONStringsToDicts.py
src/TorahBibleCodes-master/mod_5GetNumberOfTextChosen.py
src/TorahBibleCodes-master/mod_6ZippedTupleCreate.py
src/TorahBibleCodes-master/mod_7DictionaryOfVersesCreate.py
src/TorahBibleCodes-master/mod_8DataObjectsCreate.py
src/TorahBibleCodes-master/mod_9GetNumberValues.py
src/TorahBibleCodes-master/mod_10ListOfIndexesCustomCreate.py
src/TorahBibleCodes-master/mod_11TupleOfWordsAndGematriaValuesCreate.py
src/TorahBibleCodes-master/mod_12GetLengthOfTextToSearch.py
src/TorahBibleCodes-master/mod_99WriteOutputToCSVFile_WordsAndGematriaValues.py
src/TorahBibleCodes-master/p_els.py
src/TorahBibleCodes-master/README.html
src/TorahBibleCodes-master/text_1genesis.json
src/TorahBibleCodes-master/text_2exodus.json
src/TorahBibleCodes-master/text_3leviticus.json
src/TorahBibleCodes-master/text_4numbers.json
src/TorahBibleCodes-master/text_5deuteronomy.json
src/TorahBibleCodes-master/text_6joshua.json
src/TorahBibleCodes-master/text_7judges.json
src/TorahBibleCodes-master/text_8Isamuel.json
src/TorahBibleCodes-master/text_9IIsamuel.json
src/TorahBibleCodes-master/text_10Ikings.json
src/TorahBibleCodes-master/text_11IIkings.json
src/TorahBibleCodes-master/text_12isaiah.json
src/TorahBibleCodes-master/text_13jeremiah.json
src/TorahBibleCodes-master/text_14ezekiel.json
src/TorahBibleCodes-master/text_15hosea.json
src/TorahBibleCodes-master/text_16joel.json
src/TorahBibleCodes-master/text_17amos.json
src/TorahBibleCodes-master/text_18obadiah.json
src/TorahBibleCodes-master/text_19jonah.json
src/TorahBibleCodes-master/text_20micah.json
src/TorahBibleCodes-master/text_21nahum.json
src/TorahBibleCodes-master/text_22habakkuk.json
src/TorahBibleCodes-master/text_23zephaniah.json
src/TorahBibleCodes-master/text_24haggai.json
src/TorahBibleCodes-master/text_25zechariah.json
src/TorahBibleCodes-master/text_26malachi.json
src/TorahBibleCodes-master/text_27psalms.json
src/TorahBibleCodes-master/text_28proverbs.json
src/TorahBibleCodes-master/text_29job.json
src/TorahBibleCodes-master/text_30songofsongs.json
src/TorahBibleCodes-master/text_31ruth.json
src/TorahBibleCodes-master/text_32lamentations.json
src/TorahBibleCodes-master/text_33ecclesiastes.json
src/TorahBibleCodes-master/text_34esther.json
src/TorahBibleCodes-master/text_35daniel.json
src/TorahBibleCodes-master/text_36ezra.json
src/TorahBibleCodes-master/text_37nehemiah.json
src/TorahBibleCodes-master/text_38Ichronicles.json
src/TorahBibleCodes-master/text_39IIchronicles.json
src/TorahBibleCodes-master/WordsOfSelectedTexts_GematriaValues_EntireHebrewBible.csv
src/TorahBibleCodes-master/WordsOfSelectedTexts_GematriaValues.csv
src/TorahBibleCodes-master/ipynb/mod_1GetUserInput1.ipynb
src/TorahBibleCodes-master/ipynb/mod_2TextFileOpen.ipynb
src/TorahBibleCodes-master/ipynb/mod_3ATextFilePreprocess.ipynb
src/TorahBibleCodes-master/ipynb/mod_3BTextFileParse.ipynb
src/TorahBibleCodes-master/ipynb/mod_4ConvertJSONStringsToDicts.ipynb
src/TorahBibleCodes-master/ipynb/mod_5GetNumberOfTextChosen.ipynb
src/TorahBibleCodes-master/ipynb/mod_6ZippedTupleCreate.ipynb
src/TorahBibleCodes-master/ipynb/mod_7DictionaryOfVersesCreate.ipynb
src/TorahBibleCodes-master/ipynb/mod_8DataObjectsCreate.ipynb
src/TorahBibleCodes-master/ipynb/mod_9GetNumberValues.ipynb
src/TorahBibleCodes-master/ipynb/mod_10ListOfIndexesCustomCreate.ipynb
src/TorahBibleCodes-master/ipynb/mod_11TupleOfWordsAndGematriaValuesCreate.ipynb
src/TorahBibleCodes-master/ipynb/mod_12GetLengthOfTextToSearch.ipynb
src/TorahBibleCodes-master/ipynb/mod_99WriteOutputToCSVFile_WordsAndGematriaValues.ipynb
src/TorahBibleCodes-master/ipynb/p_els.ipynb
src/TorahBibleCodes-master/ipynb/text_1genesis.json
src/TorahBibleCodes-master/ipynb/text_2exodus.json
src/TorahBibleCodes-master/ipynb/text_3leviticus.json
src/TorahBibleCodes-master/ipynb/text_4numbers.json
src/TorahBibleCodes-master/ipynb/text_5deuteronomy.json
src/TorahBibleCodes-master/ipynb/text_6joshua.json
src/TorahBibleCodes-master/ipynb/text_7judges.json
src/TorahBibleCodes-master/ipynb/text_8Isamuel.json
src/TorahBibleCodes-master/ipynb/text_9IIsamuel.json
src/TorahBibleCodes-master/ipynb/text_10Ikings.json
src/TorahBibleCodes-master/ipynb/text_11IIkings.json
src/TorahBibleCodes-master/ipynb/text_12isaiah.json
src/TorahBibleCodes-master/ipynb/text_13jeremiah.json
src/TorahBibleCodes-master/ipynb/text_14ezekiel.json
src/TorahBibleCodes-master/ipynb/text_15hosea.json
src/TorahBibleCodes-master/ipynb/text_16joel.json
src/TorahBibleCodes-master/ipynb/text_17amos.json
src/TorahBibleCodes-master/ipynb/text_18obadiah.json
src/TorahBibleCodes-master/ipynb/text_19jonah.json
src/TorahBibleCodes-master/ipynb/text_20micah.json
src/TorahBibleCodes-master/ipynb/text_21nahum.json
src/TorahBibleCodes-master/ipynb/text_22habakkuk.json
src/TorahBibleCodes-master/ipynb/text_23zephaniah.json
src/TorahBibleCodes-master/ipynb/text_24haggai.json
src/TorahBibleCodes-master/ipynb/text_25zechariah.json
src/TorahBibleCodes-master/ipynb/text_26malachi.json
src/TorahBibleCodes-master/ipynb/text_27psalms.json
src/TorahBibleCodes-master/ipynb/text_28proverbs.json
src/TorahBibleCodes-master/ipynb/text_29job.json
src/TorahBibleCodes-master/ipynb/text_30songofsongs.json
src/TorahBibleCodes-master/ipynb/text_31ruth.json
src/TorahBibleCodes-master/ipynb/text_32lamentations.json
src/TorahBibleCodes-master/ipynb/text_33ecclesiastes.json
src/TorahBibleCodes-master/ipynb/text_34esther.json
src/TorahBibleCodes-master/ipynb/text_35daniel.json
src/TorahBibleCodes-master/ipynb/text_36ezra.json
src/TorahBibleCodes-master/ipynb/text_37nehemiah.json
src/TorahBibleCodes-master/ipynb/text_38Ichronicles.json
src/TorahBibleCodes-master/ipynb/text_39IIchronicles.json
